<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true"
         stopOnFailure="false"
         processIsolation="false"
         backupGlobals="false"
         backupStaticAttributes="false">
    
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration Tests">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
    
    <coverage>
        <include>
            <directory suffix=".php">./includes</directory>
        </include>
        <exclude>
            <directory>./vendor</directory>
            <directory>./tests</directory>
            <directory>./pages</directory>
            <directory>./user_docs</directory>
            <directory>./webroot</directory>
        </exclude>
        <report>
            <html outputDirectory="tests/coverage" lowUpperBound="35" highLowerBound="70"/>
            <text outputFile="php://stdout" showUncoveredFiles="false"/>
        </report>
    </coverage>
    
    <php>
        <const name="PHPUNIT_TESTSUITE" value="true"/>
        <server name="HTTP_HOST" value="localhost"/>
        <server name="REQUEST_URI" value="/"/>
        <server name="REQUEST_METHOD" value="GET"/>
    </php>
</phpunit>
